@model IEnumerable<EmployeeMS.Models.ViewModels.EmplListVM>

@{
    ViewBag.Title = "Employee List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Employee List</h2>

    <div class="row">
        <div class="col-xs-12">
            <p>
                @Html.ActionLink("Add new employee", "Add", "Employees")
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Department</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                @foreach (var empl in Model)
                {
                    <tr>
                        <td>@empl.Name</td>
                        <td>@empl.PhoneNum</td>
                        <td>@empl.DeptName</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Employees", new {id = empl.EmplId}, null)
                        </td>
                        <td>
                            @* Inline form with an alert to confirm deletion *@
                            @using (Html.BeginForm("Delete", "Employees", new {id = empl.EmplId}, FormMethod.Post))
                            {
                                <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete @empl.Name?')">Delete</button>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>